<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Ville</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.lat %></td>
        <td><%= city.lon %></td>
        <td><%= link_to 'Afficher', city, class: 'btn btn-primary btn-s'%></td>
        <td><%= link_to 'Modifier', edit_city_path(city), class: 'btn btn-info btn-s'%></td>
        <td><%= link_to 'Supprimer', city, method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer ?' } , class: 'btn btn-danger btn-s'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle ville', new_city_path, class:'btn btn-success btn-s'%>
