<p id="notice"><%= notice %></p>

<p>
  <strong>Ville:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @city.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @city.lon %>
</p>

<p>
  <strong>Température:</strong>
  <%=  @forecasts[:temperature] %>
</p>

<p>
  <strong>Aperçu:</strong>
  <%=  @forecasts[:summary] %>
</p>

<p>
  <strong>Vitesse du vent:</strong>
  <%= @forecasts[:windSpeed] %>
</p>

<p>
  <strong>Couverture nuageuse:</strong>
  <%= @forecasts[:cloudCover] %>
</p>

<p>
  <strong>Risque de précipitation:</strong>
  <%= @forecasts[:precipProbability] %>
</p>

<%= link_to 'Edit', edit_city_path(@city) , class: 'btn btn-primary btn-s'%> |
<%= link_to 'Back', cities_path , class: 'btn btn-success btn-s'%>
